<div class="container">
  <form name="search" action="/genreoftheday" method="post">
    <input type="text" name="date" placeholder="YYYY-MM-DD HH:MM:SS" required>
    <input type="submit" value="GO">
  </form>
</div>


