<div class="nav">
  <button class="sound_button"><a href="/users/show">Profile</a></button>
  <button class="sound_button"><a href="/logout">Log Out</a></button>
</div>

<div class="container">
  <form name="search" id ="search" action="/genreoftheday" method="post">
    <input type="text" name="date" placeholder="YYYY-MM-DD HH:MM:SS" required>
    <input class="sound_button" type="submit" value="SOUND">
  </form>

  <div class="top200"></div>

</div>


